@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  appearance: none;
}


.chosen { /* в избранном */
  background-color: #7DB54F;
}

.secondary-color {
  background-color: #82b3d3;
}

.catalog-filter-reset { /*сбросить*/
  background-color: transparent;
}
/* ??? */

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
}

/*навигация*/


.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.navigation-item {
  list-style-type: none;
}

.navigation-user-search {
  background-image: url("../images/icons/search.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  text-decoration: none;
  color: inherit;
}

.navigation-user-favorites {
  background-image: url("../images/icons/heart.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;
  text-decoration: none;
  color: inherit;
}


/*main*/
.index-hero {
  color: #ffffff;
  background-image: url("../images/main/hero-background.jpg");
  background-color: #2a6391;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}


.short-description {
  text-align: center;
}

.sedona-place-advantages {/*небольшой городок*/
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}/*шрифт*/

.sedona-cause-advantages {/*Рассмотрим причины*/
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.advantages-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.advantages-item {
  color: #ffffff;
  background-color:#82b3d3;
}

.advantages-nested:nth-child(odd) {
  background-color: #f0f6fa;
}

.advantages-nested:nth-child(even) {
  background-color: #e6f0f6;
}

.advantages-description-nested:nth-child(odd) p{
  color: #333333;
}

.advantages-description-neste:nth-child(even) {
  color: #000000;
}


.services-caption {/*приезжайте*/
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

/*ОПЫТНЫЙ персонал*/
.services-description {
  margin-top: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.services-description:last-of-type {
  margin-bottom: 0;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item {
  list-style-type: none;
}

.services-item li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
  text-align: center;
}

.services-item li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

/*Заинтересовались*/
.hotel-search {
  text-align: center;
}

.hotel-search-caption {/*Заинтересовались*/
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-button {/*Поиск гостиницы*/
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 376px;
  height: 52px;
}

/*Подписка  на рассылку*/
.subscribe {
  background-image: url("../images/main/subscribe-background.jpg");
  background-color: #82b3d3;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 415px;
}

.subscribe-on {/*Подпишитесь на рассылку*/
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {/*только полезная инфа*/
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-on-catalog {
  color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-input {
  font-family: inherit;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  height: 52px;
}

.button-newsletter {/*подписаться*/
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 232px;
  height: 52px;
}

/**/
.page-footer-container a {
  color: #000000;
  text-decoration: none;
}

.social-item {
  list-style-type: none;
}

.social-link-vk {
  background-image: url("../images/icons/social/vk.svg");
  background-size: 24px 14px;
  background-repeat: no-repeat;
}

.social-link-tg {
  background-image: url("../images/icons/social/tg.svg");
  background-size: 18px 16px;
  background-repeat: no-repeat;
}

.social-link-yt {
  background-image: url("../images/icons/social/yt.svg");
  background-size: 22px 17px;
  background-repeat: no-repeat;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.academy-link img {
  width: 115px;
  height: 100%;
}

/*CATALOG*/


.catalog-filter {/*фон фильтра*/
  color: #ffffff;
  background-image: url("../images/main/filtr-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
}

.hotel-sedona {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
.breadcrumbs {
  list-style-type: none;
}

.catalog-filter-list {
  list-style-type: none;
}

.breadcrumbs-link-main::before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  -webkit-mask-image: url("../images/icons/home.svg");
  -webkit-mask-size: 12px 12px;
}

.breadcrumbs-link-hotel {/*гостиницы*/
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-filter-title {/*заголовки списков*/
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {/*список вариантов*/
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.catalog-found {/*выплывающий список*/
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-item {/*Найдено гостиниц*/
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.catalog-search-button {
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  text-decoration: none;
}

.page-arrange {
  list-style-type: none;
}

.hotel-catalog {
  list-style-type: none;
}

.hotel-catalog-link {/*имя отелей*/
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  height: 37px;
  background-color: #f2f2f2;
}


.hotel-stars {
  content: '';
  display: inline-block;
  background-color: #82b3d3;
  -webkit-mask-image: url("../images/icons/star.svg");
  margin: 10px 0;
  background-size: 18px 17px;
  background-repeat: space;
  width: 0;
  height: 17px;
}
.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 42px;
}

.stars-3 {
  width: 66px;
}

.stars-4 {
  width: 89px;
}

.stars-5 {
  width: 114px;
}

.catalog-footer {
  border-top: 1px solid #e6e6e6;
}
.pagination {

  list-style-type: none;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more span {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background: none;
  color: #000000;
}
