@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  justify-items: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  appearance: none;
  min-width: 140px;
  padding: 8px 50px;

}

.chosen {
  /* в избранном */
  background-color: #7DB54F;
}

.secondary-color {
  background-color: #82b3d3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.content-wrapper {
  padding: 0 70px;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  height: 64px;
}

.navigation {
  /*навигация*/
  display: flex;

}

.logo-link {
  width: 140px;
  margin-right: 28px;
  margin-bottom: -6px;
  display: block;
  position: relative;
  z-index: 0;
}

.navigation-list {
  display: flex;
  max-width: 470px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 170px;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-user-item {
  padding: 22px 12px;
}

.navigation-user-link {
  display: block;
  width: 20px;
  height: 20px;

}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}


.navigation-user-search {
  background-image: url("../images/icons/search.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-favorites {
  background-image: url("../images/icons/heart.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-button {
  display: flex;
  padding: 8px 34px;
  justify-content: center;
  margin: 14px 0;
  min-width: 60px;
  white-space: nowrap;
  overflow: hidden;
}

/*main*/
.main-container {
  flex-grow: 1;
}

.index-hero {
  color: #ffffff;
  background-image: url("../images/main/hero-background.jpg");
  background-color: #2a6391;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding-top: 51px;
  padding-bottom: 82px;
}

.short-description {
  text-align: center;
  margin: 0;
  padding: 69px 70px;
}

.caption {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.caption-description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.sedona-place-advantages {
  margin: 0 0 25px;
}

.sedona-cause-advantages {
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  text-align: center;
  background-color: #82b3d3;
}

.advantages-title-item {
  display: flex;
}

.advantages-title-description {
  width: 400px;
  padding: 102px 85px;
}

.advantages-title {
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-main-title {
  color: #ffffff;
  margin: 0;
}

.advantages-description-main {
  color: #ffffff;
  margin: 0;
}

.sedona-city {
  object-fit: cover;
}

.advantages-list-nested {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-nested {
  width: 400px;
  min-height: 179px;
  padding: 103px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-nested:nth-child(odd) {
  background-color: #f0f6fa;
}

.advantages-nested:nth-child(even) {
  background-color: #e6f0f6;
}

.advantages-title-nested {
  color: #000000;
  margin: 0;
}

.advantages-title-nested::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  display: block;
  margin: 30px auto;
}

.advantages-main-title:after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
  display: block;
  margin: 30px auto;

}

.advantages-description {
  margin: 0;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
}

.services-item {
  width: 400px;
  padding: 80px 85px;
  min-height: 230px;
}

.services-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-hotel::before {
  content: url("../images/icons/services/hotel.svg");
  margin-bottom: 30px;
}

.services-item-food::before {
  content: url("../images/icons/services/food.svg");
  margin: -11px 0 30px 0;
}

.services-item-gift::before {
  content: url("../images/icons/services/souvenir.svg");
  margin-bottom: 30px;
}

.offers-title {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin: 0 0 30px;
}

.services-offer {
  padding-top: 64px;
  padding-bottom: 64px;
}

.services-caption {
  margin: 0 0 20px;
}

.services-description {
  margin-top: 0;
}

.services-description:last-child {
  margin-bottom: 0;
}

.hotel-search {
  text-align: center;
  padding: 96px 70px;
}

.hotel-search-caption {
  margin: 0 0 20px;
}

.hotel-search-description {
  margin: 0 0 54px;
}

.hotel-search-button {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 54px;
}

.subscribe-index {
  background-image: url("../images/main/subscribe-background.jpg");
  background-color: #82b3d3;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.subscribe-on-index {
  color: #ffffff;
  text-align: center;
}

.subscribe {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-on {
  margin: 0 0 20px 0;
  padding: 0;
}

.subscribe-description {
  margin: 0 0 54px;
  padding: 0;
}

.subscribe-subscribe-form {
  margin: 54px 0 0 0;
  display: flex;
  justify-content: center;
}

.subscribe-on-catalog {
  color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-input {
  font-family: inherit;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  min-width: 412px;
  padding: 12px 20px;
  margin: 0;
}

.button-newsletter {
  /*подписаться*/
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  min-width: 232px;
  margin: 0;
  border-radius: 0 4px 4px 0;
}

.page-footer-container {
  color: #000000;
  text-decoration: none;
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}

.footer-social {
  display: flex;
  margin-right: auto;
}

.social-media-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  padding: 0 10px;
}

.social-link-vk {
  content: url("../images/icons/social/vk.svg");
  background-size: 24px 14px;
  background-repeat: no-repeat;
}

.social-link-tg {
  content: url("../images/icons/social/tg.svg");
  background-size: 18px 16px;
  background-repeat: no-repeat;
}

.social-link-yt {
  content: url("../images/icons/social/yt.svg");
  background-size: 22px 17px;
  background-repeat: no-repeat;
}

.phone-link-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  justify-content: center;
  align-items: center;
  padding: 5px 194px 5px 195px;
  width: 331px;
  height: 40px;
  flex-wrap: wrap;
}

.academy-link img {
  justify-content: flex-end;
  margin-left: auto;
}



.main-inner {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.catalog-filter {
  /*фон фильтра*/
  color: #ffffff;
  background-image: url("../images/main/filtr-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
  padding: 35px 70px 70px;
  margin: 0;
  object-fit: cover;
}

.hotel-sedona {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0 0 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-main {
  width: 20px;
  height: 20px;
}

.breadcrumbs-link-main {
  width: 20px;
  height: 20px;
}

.breadcrumbs-link-main::before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 21px;
  background-color: #ffffff;
  -webkit-mask-image: url("../images/icons/home.svg");
  -webkit-mask-size: 20px 21px;
  margin: 0 10px 0 0;
  padding: 0;
}

.breadcrumbs-more {
  background-image: url(../images/icons/more.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  margin: 6px 6px 0 0;
  background-position: center;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;

}

.catalog-filter-group {
  border: 0;
  margin: 0 70px 0 0;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link-hotel {
  /*гостиницы*/
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-filter-title {
  /*заголовки списков*/
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-infrastructure {
  padding: 0;
  margin-right: 70px;
}

.catalog-filter-hotel {
  padding: 0;
  margin-right: 70px;
}

.catalog-filter-item {
  margin: 0 0 16px;
  position: relative;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  display: block;
  margin: 0 0 16px 36px;
}

.control-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.control-option {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.control-input:checked+.control-option {
  background-image: url("../images/icons/checkmark.svg");
  background-repeat: no-repeat;
}


.control-option-radio {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.control-input:checked+.control-option {
  background-image: url("../images/icons/checkmark.svg");
  background-repeat: no-repeat;
}

.control-input:checked+.control-option-radio {
  background-image: url("../images/icons/point.svg");
  background-repeat: no-repeat;
}






.catalog-filter-value {
  margin-left: auto;
}

.price-range-input {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  width: 288px;
}

.catalog-filter-label {
  display: flex;
  background-color: #f2f2f2;
  padding: 12px 20px;
  width: 143px;
  margin-right: 2px;
  justify-content: space-between;
}

.catalog-filter-label:first-child {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:last-child {
  border-radius: 0 4px 4px 0;
}

.range-input {
  width: 40px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-text {
  font-weight: 400;
  color: #000000;
  opacity: 0.30;
  margin-left: auto;
}

.price-range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #242424;
  border-radius: 2px;
}

.range-line {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 189px;
}

.range-switch {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.switch-min {
  top: -8px;
}

.switch-max {
  top: -8px;
  right: -10px;
}








.catalog-filter-container {
  display: flex;
  justify-content: space-between;
}


.button-filter {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 70px;
}

.catalog-filter-reset {
  background-color: transparent;
}

.catalog-filter-accept {
  min-width: 91px;
  margin-bottom: 32px;
}

.catalog-filter-list {
  /*список вариантов*/
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.catalog {
  padding-top: 50px;
  padding-bottom: 60px;
}

.catalog-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 338px;
  height: 36px;
  margin: 0 0 40px 0
}

.catalog-found {
  /*выплывающий список*/
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 0 0;
}

.select-item {
  /*Найдено гостиниц*/
  font: inherit;
  color: #333333;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #f5f5f5;
  min-width: 292px;
  border-radius: 4px;
  appearance: none;
  background-image: url("..images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding: 14px 20px;

}

.catalog-search-button {
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  text-decoration: none;
}

.page-arrange {
  list-style-type: none;
  margin-left: 70px;
}









.hotel-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0 70px 80px;
  list-style-type: none;
  position: relative;
}

.hotel-catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  width: 340px;
}

.hotel-catalog-link {
  grid-column: 1 / -1;
  object-fit: cover;
}

.hotel-catalog-link-title {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-catalog-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.accommodation-price {
  text-align: right;
}

.hotel-rating {
  display: grid;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 9px 21px 8px 21px;
  border-radius: 4px;
}


/*
.hotel-catalog-link {
  /*имя отелей*/
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}
*/
.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  height: 37px;
  background-color: #f2f2f2;
}

.hotel-stars {
  content: '';
  display: inline-block;
  background-color: #82b3d3;
  -webkit-mask-image: url("../images/icons/star.svg");
  margin: 10px 0;
  background-size: 18px 17px;
  background-repeat: space;
  width: 0;
  height: 17px;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 42px;
}

.stars-3 {
  width: 66px;
}

.stars-4 {
  width: 89px;
}

.stars-5 {
  width: 114px;
}

.catalog-footer {
  border-top: 1px solid #e6e6e6;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  display: flex;
  width: 60px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 11px 0 13px 0;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.ellipsis {
  display: block;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  width: 60px;
  height: 26px;
  background-color: transparent;

  justify-content: center;
  padding: 16px 0 18px 0;
}
